---
// const logos = [
//   {
//     url: "/brands/1.svg",
//   },
//   {
//     url: "/brands/2.svg",
//   },
//   {
//     url: "/brands/3.svg",
//   },
//   {
//     url: "/brands/4.svg",
//   },
//   {
//     url: "/brands/5.svg",
//   },
//   {
//     url: "/brands/6.svg",
//   },
//   {
//     url: "/brands/7.svg",
//   },
//   {
//     url: "/brands/8.svg",
//   },
// ];

const stats = [
  {
    category: "Students",
    count: "230,000+",
  },
  {
    category: "Institutions",
    count: "5",
  },
  {
    category: "Courses",
    count: "800+",
  },
  {
    category: "Educators",
    count: "200+",
  },
];
const values = [
  {
    title: "Excellence",
    description:
      "We are committed to the relentless pursuit of excellence. We work hard, persevere through challenges, and never settle for less than our best. With grit and determination, we strive to overcome obstacles, achieve ambitious goals, and create transformative change.",
  },
  {
    title: "Unity",
    description:
      "We believe in the power of unity. We are at our best when we work as a team, appreciating the individuality of our colleagues and encouraging everyone to contribute their strengths. Together, we achieve our shared goals while helping each other grow.",
  },
  {
    title: "Integrity",
    description:
      "We hold integrity and transparency at the heart of everything we do. We uphold the highest ethical standards, building trust through honest communication and accountability. Our commitment to integrity ensures that our actions align with our vision for a better future in education.",
  },
  {
    title: "Innovation",
    description:
      "We embrace innovation as the key to transforming education. By creating dynamic, learner-centered systems, we empower both educators and learners, equipping them with the tools to support growth and inspire individual potential.",
  },

];
---

<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pb-24">
    <div class="text-center">
      <h1
        class="text-5xl font-semibold font-display text-blue-950 sm:text-6xl text-balance w-3/4 mx-auto">
        The mission behind Learning Innovators.
      </h1>
      <p class="mt-4 text-slate-600 text-base w-1/2 mx-auto text-balance">
        Our mission is to transform learning by empowering institutions and educators with assessment models that drive personalised learning, supported by software tools designed with learners and educators in mind.
      </p>

      <p class="mt-4 text-slate-600 text-base w-1/2 mx-auto text-balance">
        Learning Innovators is working toward a world where education is learner-centered, with assessment that supports learning and fosters agency, curiosity, and meaningful growth.
      </p>

      <!-- <div
        class="grid grid-cols-2 mt-12 sm:grid-cols-4 lg:grid-cols-4 justify-between text-center -ml-4">
        {
          logos.map((logo) => (
            <>
              <p>
                <img
                  class="mx-auto"
                  src={logo.url}
                  alt=""
                />
              </p>
            </>
          ))
        }
      </div>
    </div> -->

    <dl
      class="grid grid-cols-1 gap-x-2 gap-y-16 text-center lg:grid-cols-4 py-24">
      {
        stats.map((stat) => (
          <div class="mx-auto flex flex-col gap-y-4 p-4 lg:p-8 rounded-3xl bg-blue-300 w-full">
            <dt class="leading-7 text-slate-500">{stat.category}</dt>
            <dd class="order-first text-l font-semibold tracking-tight text-blue-950 font-display sm:text-2xl">
              {stat.count}
            </dd>
          </div>
        ))
      }
    </dl>

    <div class="flex flex-col max-w-2xl mx-auto gap-12 items-start mt-12">
      <div>
        <h1
          class="text-4xl font-semibold font-display text-blue-950 lg:text-4xl">
          A little bit about us...
        </h1>
        <p class="text-slate-600 text-bs">
          Learning Innovators was founded in 2025 by a group of educators who were passionate about sharing the power of learner-centered assessment. We have lived experience of the transformative experience of shifting your assessment paradigm, and Learning Innovators exists to support wider adoption of this approach.
        </p>
        <p class="text-slate-600 pt-5">
          We adhere to the following values in all that we do:
        </p>
      </div>
      <ul
        class="grid grid-cols-1 gap-6 list-none md:grid-cols-1 md:gap-12"
        role="list">
        {
          values.map((value) => (
            <li>
              <p class="text-lg font-display text-blue-950 lg:text-xl">
                {value.title}
              </p>
              <p class="mt-2 text-slate-500">{value.description}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
