---
const logos = [
  {
    url: "/brands/1.svg",
  },
  {
    url: "/brands/2.svg",
  },
  {
    url: "/brands/3.svg",
  },
  {
    url: "/brands/4.svg",
  },
  {
    url: "/brands/5.svg",
  },
  {
    url: "/brands/6.svg",
  },
  {
    url: "/brands/7.svg",
  },
  {
    url: "/brands/8.svg",
  },
];

const stats = [
  {
    category: "Students",
    count: "8000+",
  },
  {
    category: "Courses",
    count: "200+",
  },
  {
    category: "Teachers",
    count: "50+",
  },
];
const points = [
  {
    title: "1. Make Education Accessible",
    description:
      "Dive into the world of branding and discover the art of creating impactful identities that resonate with your audience.",
  },
  {
    title: "2. Help you Grow",
    description:
      "Embark on a tailored educational journey, with courses curated to match your interests, goals, and learning pace.",
  },
  {
    title: "3. Grow a Community",
    description:
      "At our e-learning platform, our mission is to empower individuals from all walks of life with the skills and knowledge.",
  },
];
---

<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pb-24">
    <div class="text-center">
      <h1
        class="text-4xl font-semibold font-display text-blue-950 sm:text-6xl text-balance w-1/2 mx-auto">
        The mission behind Enlightr.
      </h1>
      <p class="mt-4 text-slate-600 text-base w-1/2 mx-auto text-balance">
        Your pathway to exploring brand & identity design for marketers online
      </p>

      <div
        class="grid grid-cols-2 mt-12 sm:grid-cols-4 lg:grid-cols-4 justify-between text-center -ml-4">
        {
          logos.map((logo) => (
            <>
              <p>
                <img
                  class="mx-auto"
                  src={logo.url}
                  alt=""
                />
              </p>
            </>
          ))
        }
      </div>
    </div>

    <dl
      class="grid grid-cols-1 gap-x-2 gap-y-16 text-center lg:grid-cols-3 py-24">
      {
        stats.map((stat) => (
          <div class="mx-auto flex flex-col gap-y-4 p-4 lg:p-8 rounded-3xl bg-green-100 w-full">
            <dt class="leading-7 text-slate-500">{stat.category}</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-blue-950 font-display sm:text-8xl">
              {stat.count}
            </dd>
          </div>
        ))
      }
    </dl>

    <div class="flex flex-col max-w-2xl mx-auto gap-12 items-start mt-12">
      <div>
        <h1
          class="text-4xl font-semibold font-display text-blue-950 lg:text-9xl">
          A little bit about us...
        </h1>
        <p class="text-slate-600 text-bs">
          Elevate your skills in brand identity design with our comprehensive
          e-learning platform. Dive into the world of branding and discover the
          art of creating impactful identities that resonate with your audience.
        </p>
      </div>
      <ul
        class="grid grid-cols-1 gap-6 list-none md:grid-cols-1 md:gap-12"
        role="list">
        {
          points.map((point) => (
            <li>
              <p class="text-lg font-display text-blue-950 lg:text-8xl">
                {point.title}
              </p>
              <p class="mt-2 text-2xl text-slate-500">{point.description}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
